services:
  id-check:
    pull_policy: never
    # Specify your built image here
    image: <your_built_image>
    container_name: id-check
    restart: always
    command: /usr/local/bin/id-check -config /etc/id-check/base.ini
    volumes:
      # Considering Letsencrypt as an example
      # Take care about permissions and service restart upon cert renewal
      # Paths for [mtls/server] section
      - /etc/letsencrypt/live/<domain>:/etc/letsencrypt/live/<domain>:ro
      - /etc/letsencrypt/archive/<domain>:/etc/letsencrypt/archive/<domain>:ro
      # Path to config file
      - ./cfg/example.ini:/etc/id-check/base.ini
    ports:
      - "443:443"
    networks:
      ident_network:
        ipv4_address: 172.20.0.20
networks:
  ident_network:
    ipam:
      config:
        - subnet: 172.20.0.0/16
          gateway: 172.20.0.1
